.App {
  text-align: center;
}

.headline{
  color: #120075;
  font-size: 50px;
 
}
.first-part{
  display: flex;
}
.first-part h5{
  margin-left: 70px;
}
.btn{
  background-color: rgb(234, 83, 1);
color: aliceblue;
margin-right: 280px;
margin-left: 280px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
  
}
.review{
  font-size: 25px;
 color: rgb(18, 1, 47);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin-left: 20px;
  width: 20%;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.cardPart{
  display: flex;
}
